In [25]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
Apple = yf.download("AAPL", start = "2009-12-31", end = "2021-01-01")
# print(Apple)

[*********************100%%**********************]  1 of 1 completed

In [30]:
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-12-31,7.611786,7.619643,7.520000,7.526071,6.362937,352410800
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.461977,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.473148,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.370185,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.358407,477131200
...,...,...,...,...,...,...
2020-12-24,131.320007,133.460007,131.100006,131.970001,129.339020,54930100
2020-12-28,133.990005,137.339996,133.509995,136.690002,133.964935,124486200
2020-12-29,138.050003,138.789993,134.339996,134.869995,132.181213,121047300
2020-12-30,135.580002,135.990005,133.399994,133.720001,131.054169,96452100
2020-12-31,134.080002,134.740005,131.720001,132.690002,130.044693,99116600

In [53]:
ticker = ["SPY", "AAPL", "KO"]
ticker_array = np.array(ticker)
print(type(ticker), "\n", type(ticker_array))
print(ticker_array)

Stocks = yf.download(ticker, start="2009-12-31", end="2021-01-01")
# Stocks.columns = Stocks.columns.droplevel(0)  # Remove the 'Price' level
Stocks
# Stocks.head()
Stocks.info()

[*********************100%%**********************]  3 of 3 completed

<class 'list'>
 <class 'numpy.ndarray'>
['SPY' 'AAPL' 'KO']
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2770 entries, 2009-12-31 to 2020-12-31
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2770 non-null   float64
 1   (Adj Close, KO)    2770 non-null   float64
 2   (Adj Close, SPY)   2770 non-null   float64
 3   (Close, AAPL)      2770 non-null   float64
 4   (Close, KO)        2770 non-null   float64
 5   (Close, SPY)       2770 non-null   float64
 6   (High, AAPL)       2770 non-null   float64
 7   (High, KO)         2770 non-null   float64
 8   (High, SPY)        2770 non-null   float64
 9   (Low, AAPL)        2770 non-null   float64
 10  (Low, KO)          2770 non-null   float64
 11  (Low, SPY)         2770 non-null   float64
 12  (Open, AAPL)       2770 non-null   float64
 13  (Open, KO)         2770 non-null   float64
 14  (Open, SPY)        2770 non-null   float64
 15  (Volume, AAPL)     2770 non-null   int64
 16  (Volume, KO)       2770 non-null   int64
 17  (Volume, SPY)      2770 non-null   int64
dtypes: float64(15), int64(3)
memory usage: 411.2 KB

In [55]:
Stocks.to_csv("StocksYT.csv")
Stocks = pd.read_csv("StocksYT.csv", header=[0,1], index_col=[0], parse_dates=[0])
Stocks
Stocks.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close',   'KO'),
            ('Adj Close',  'SPY'),
            (    'Close', 'AAPL'),
            (    'Close',   'KO'),
            (    'Close',  'SPY'),
            (     'High', 'AAPL'),
            (     'High',   'KO'),
            (     'High',  'SPY'),
            (      'Low', 'AAPL'),
            (      'Low',   'KO'),
            (      'Low',  'SPY'),
            (     'Open', 'AAPL'),
            (     'Open',   'KO'),
            (     'Open',  'SPY'),
            (   'Volume', 'AAPL'),
            (   'Volume',   'KO'),
            (   'Volume',  'SPY')],
           names=['Price', 'Ticker'])

In [59]:
### Convert a MultiIndex to one tuple:
Stocks.columns = Stocks.columns.to_flat_index()
# Stocks.columns
Stocks

### Convert back to a MultiIndex:
# Stocks.columns = pd.MultiIndex.from_tuples(Stocks.columns)

### Show simple statistics:
Stocks.describe()

,"(Adj Close, AAPL)","(Adj Close, KO)","(Adj Close, SPY)","(Close, AAPL)","(Close, KO)","(Close, SPY)","(High, AAPL)","(High, KO)","(High, SPY)","(Low, AAPL)","(Low, KO)","(Low, SPY)","(Open, AAPL)","(Open, KO)","(Open, SPY)","(Volume, AAPL)","(Volume, KO)","(Volume, SPY)"
count,2770.000000,2770.000000,2770.000000,2770.000000,2770.000000,2770.000000,2770.000000,2770.000000,2770.000000,2770.000000,2770.000000,2770.000000,2770.000000,2770.000000,2770.000000,2.770000e+03,2.770000e+03,2.770000e+03
mean,31.470577,31.702270,180.870284,33.768060,41.315493,207.642054,34.104665,41.578648,208.682336,33.404195,41.038011,206.441195,33.754933,41.309890,207.613884,2.866399e+08,1.501983e+07,1.244451e+08
std,24.550330,8.058907,69.275614,24.573372,6.811654,67.253510,24.895780,6.867738,67.602329,24.221412,6.758622,66.896025,24.562186,6.810422,67.270105,2.289079e+08,6.716201e+06,7.476682e+07
min,5.798900,16.118828,78.772278,6.858929,25.014999,102.199997,7.000000,25.150000,103.419998,6.794643,24.735001,101.129997,6.870357,25.110001,103.110001,4.544800e+07,2.996300e+06,2.027000e+07
25%,15.152572,26.184608,114.114765,17.471964,37.645000,141.544994,17.673661,37.897499,142.085003,17.328839,37.412499,140.884995,17.502945,37.700001,141.652496,1.211217e+08,1.071872e+07,7.293738e+07
50%,24.478250,31.267823,174.845978,26.985000,41.759998,205.165001,27.221251,41.980000,206.175003,26.705000,41.529999,204.050003,26.972500,41.750000,204.940002,2.030340e+08,1.350565e+07,1.044849e+08
75%,40.823918,37.040481,240.377838,42.996250,45.549999,265.337494,43.358126,45.799999,267.302505,42.599999,45.310001,263.382507,43.009376,45.547500,265.737495,3.889732e+08,1.750900e+07,1.539744e+08
max,133.964935,52.243050,355.381744,136.690002,60.130001,373.880005,138.789993,60.130001,378.459991,134.339996,59.619999,371.570007,138.050003,59.810001,373.809998,1.880998e+09,9.896750e+07,7.178287e+08